* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import "variables/variables";
@import "variables/mixins";
@import "componentes/panelInformativo";
@import "componentes/nav";
@import "componentes/footer";
@import "componentes/logo";

img {
    height: 56px;
}

.logo {
    color: $color_principal;
    font-size: 32px;
}

.color-titulo {
    color: $color_marca;
}

.text-justify {
    text-align: justify;
}

.color-h2 {
    color: $color_principal;
    font-size: 40px;
}

.contenedor {
    background-color: $color_contenedor;
}

.imagen-fondo {
    width: 100%;
    height: auto;
}

.centrado-vertical {
    justify-content: center;
    @include displey-flex-column;
}

.items {
    padding: 10px 30px;
}

.fila {
    margin: 20px 50px;
}

.btn_ver_mas {
    padding: 8px 20px;
    background-color: $color_secundario;
    font-size: 14px;
    font-weight: bold;
}

.btn-scale-color {
    background-color: $color_principal;
    border: 1px solid $color_principal;
    transition: 0.4s;
}

.btn-scale-color:hover {
    background-color: $color_principal;
    border: 1px solid $color_principal;
    transform: scale(1.3);
}

.margen-iconos {
    margin: 20px;
}

.padding-inferior {
    padding-bottom: 50px;
}

.grid-services-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 50px;
    padding-bottom: 20px;
}

.grid-footer-container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}

.overflow-hidden {
    overflow: hidden;
}

.imagen1 {
    grid-area: img1;
    @extend .overflow-hidden;
}

.imagen2 {
    grid-area: img2;
    @extend .overflow-hidden;
}

.imagen3 {
    grid-area: img3;
    @extend .overflow-hidden;
}

.imagen {
    width: 100%;
    height: auto;
    transition: 0.5s all ease-in-out;
}

.imagen:hover {
    transform: scale(1.5);
}

.flex-columna {
    flex-direction: column;
}

.flex-fila {
    display: flex;
    justify-content: space-evenly;
}

.imagen-productos {
    max-width: 100%;
    @include vertical-align-auto;
}

.imagen-quienessomos {
    max-width: 50%;
    @include vertical-align-auto;
}

/* media query para tablet */
@media only screen and (max-width: 767px) {
    .container {
        padding: 0;
        margin-left: 0;
        margin-right: 0;
        max-width: 767px;
    }

    .grid-footer-container {
        display: grid;
        grid-template-columns: 1fr;
    }

    .grid-services-container {
        display: grid;
        grid-template-columns: 1fr;
    }

    .flex-fila {
        align-items: center;
        @include displey-flex-column;
    }
}

/* media query para pantalla mediana */
@media only screen and (max-width: 992px) {
    .contenedor-imagenes {
        grid-template:
            "img1"
            "img2"
            "img3";
    }
}
